---
layout: page
title : Thomas Fuller
header-img: "img/homebg1.jpg"
description: "Research Engineer and Data Science Consultant"
---

<!-- About Content -->
<section id="about">
	<div>
		<p>
                I'm a researcher in the fields of systems engineering, control theory, and artificial intelligence. My previous research projects included open loop control for an aileron using shape memory alloy, a celestial navigation star camera, and modeling of the Earth's magnetic field for cusp research.
		</p>
                <p>
                I offer a variety of services to engineers and engineering firms.  These include projects in process optimization and data pipeline design. Please feel free to view my resume (request at thomasckfuller@gmail.com), project sampler (below), or <a href="https://github.com/fsbr/engineering-portfolio">engineering porfolio</a> to see if I may be able to help your organization.
                </p>
                <p>
                <a href="https://docs.google.com/document/d/1JkpMuwtBK0chk2ZCj50F0jG9LjvOK5tSHhiFvvYFAVw/edit?usp=sharing">ELMC5505 Lab 1 Link:</a>
                </p>
                <p>
                <a href="https://docs.google.com/document/d/1F9MldCGcC3MGLjVEr1D9Qa6T0PaAHSg9Jb5OYjADMDI/edit?usp=sharing">ELMC5505 Syllabus</a>
                </p>
                <p>
                <a href="https://docs.google.com/document/d/1QSX5kcp-9uEDy7AsW4iRe8iQy3onePkOry-6JCe0-NQ/edit?usp=sharing">ELEC4200 Syllabus</a>
                </p>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2> Project Sampler</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
